OPENCTI_ADMIN_EMAIL=admin@opencti.local
OPENCTI_ADMIN_PASSWORD=opencti
OPENCTI_ADMIN_TOKEN=68eae25e-f176-41eb-aeab-ba5efbf2849e
MINIO_ROOT_USER=bdef5bf8-5683-4156-b4ba-69fdb9c588aa
MINIO_ROOT_PASSWORD=814e67a3-c347-43fe-91e2-ecc4b6036ec9
RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=guest
CONNECTOR_HISTORY_ID=22cc2d0f-11fd-45c1-b2ba-916c9fe992ec
CONNECTOR_EXPORT_FILE_STIX_ID=d0d0f7bf-58b3-4112-bfda-a6f0f4c7b1e5
CONNECTOR_EXPORT_FILE_CSV_ID=c4d00f7e-2de1-479c-b674-c51c47095693
CONNECTOR_IMPORT_FILE_STIX_ID=1c8af150-1d9f-4b08-a7a9-d1974ffe9524
CONNECTOR_IMPORT_REPORT_ID=87e517d0-ca33-46fe-9ee3-09d1ba7a450d
CONNECTOR_IMPORT_DOCUMENT_ID=d313c275-fcff-4c78-a71a-0f487ab11c5d
CONNECTOR_HYGIENE_ID=00bac75f-a68a-4cd6-a1bd-cb838e2fc369
CONNECTOR_EXPORT_FILE_TXT_ID=12220703-589d-4e65-aeb0-392004380959
ELASTIC_PASSWORD=opencti
ELASTIC_MEMORY_SIZE=1G
OPENCTI_VERSION=5.8.7
OPENCTI_INTERNAL_URL=http://opencti:8080
OPENCTI_BASE_PATH=/opencti
OPENCTI_BASE_URL=$(ip -j addr | jq '.[1].addr_info[0].local')
